@import '../../../css/variables.css';


.logo {
  width: 22rem;
  padding: 50px;

  @media (min-width: 1050px) {
    width: auto;
  }
}

.logo__header {
  font-size: 4rem;
  font-weight: 100;

  display: inline-block;

  margin-right: 1rem;

  margin-bottom: 1rem;

  letter-spacing: -.1rem;
}

a.logo__link {
  font-size: 2rem;
  font-weight: 600;

  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;

  text-decoration: none;

  color: var(--element-color);
}

@keyframes blink {
  0% {
  opacity: 0;
  }
  50% {
  opacity: 1;
  }
  100% {
  opacity: 0;
  }
}
