@import '../../../css/variables.css';

:root {
  --side-board-height: calc(var(--cell-size) + var(--cell-padding) * 2);
  --chess-board-padding: calc(var(--side-board-height) + 20px);
  --board-color: #ebebeb;
  --maintab-gap: 20px;
}

.chess {
  margin: 50px;

  @media (--viewport-phone-only) {
    width: 90%;
    margin: 10px auto;
  }
}

.chess__main-tab {
  position: relative;

  width: calc(var(--cell-size) * 8 + var(--maintab-gap));
  margin-bottom: 40px;

  padding-top: var(--chess-board-padding);
  padding-bottom: var(--chess-board-padding);

  background-color: var(--board-color);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  @media (--viewport-phone-only) {
    width: 100%;
  }
}

.chess__side-board {
  position: absolute;

  display: flex;

  width: 100%;
  height: var(--side-board-height);

  background-color: var(--board-color);
  justify-content: center;
  align-items: center;

  &--black {
    top: 0;
  }
  &--white {
    bottom: 0;
  }
}

.tab-show-enter {
  max-height: 0;

  transition: max-height .7s linear;
  &-active {
    max-height: 500px;
  }
}

.tab-show-leave {
  max-height: 500px;

  transition: max-height .7s linear;
  &-active {
    max-height: 0;
  }
}
