@import '../../../css/variables.css';

.side-board__cell {
  width: calc(var(--cell-size) + var(--cell-padding) * 2);
  height: calc(var(--cell-size) + var(--cell-padding) * 2);
  padding: var(--cell-padding);

  @media (--viewport-phone-only) {
    padding: calc(var(--cell-padding) / 2);
  }
}
