@import '../../../css/variables.css';

:root {
  --tab-background-color: #fff
}

.info-tab {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  overflow: hidden;

  background-color: var(--tab-background-color);
  box-shadow: 0 3px 6px rgba(0,0,0,.16);
}

.info-tab__wrapper {
  padding: 50px;

  @media (--viewport-phone-only) {
    padding: 20px;
  }
}

.info-tab__header {
  margin-bottom: 2.5rem;

  & > h2 {
    font-size: 2rem;
    font-weight: 400;

    margin: 0;

    letter-spacing: .1rem;

    color: var(--gray-color);
  }
}

.desk-editor__input-group {
  margin-bottom: 20px;

}

.desk-editor__label {
  font-size: 1.2rem;

  margin-right: 1rem;

  color: var(--light-gray-color);

  @media (--viewport-phone-only) {
    display: block;

    margin-bottom: 1rem;
  }
}

.desk-editor__input {
  font-size: 1.2rem;

  padding: 5px;

  border: none;
  outline: none;

  &--desk-name {
    border-bottom: 2px solid var(--light-gray-color);
  }
}

.desk-editor__btn {
  margin-top: 40px;
}
