:root {
  /* common variables */
  --background-color: #f8f8f8;
  --body-text-color: #000;
  --element-color: #ce0000;
  --gray-color: #222;
  --light-gray-color: #aaa;
  --modal-z-index: 1090;
  /* Chess variables */
  --cell-size: 60px;
  --cell-padding: 10px;
}

@custom-media --viewport-big-desktop-up (width > 1600px);
@custom-media --viewport-desktop-up (width > 1200px);
@custom-media --viewport-tablet-up (width > 900px);
@custom-media --viewport-phone-up (width > 600px);
@custom-media --viewport-phone-only (width <=600px);
