.draggedPiece {
  position: absolute;

  width: 50px;
  height: 50px;

  cursor: none;

  border: none;

  outline: none;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cell {
  position: relative;

  cursor: pointer;

  &:hover:before {
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    content: '';

    background-color: rgba(0,0,0,.1);
  }

  &:after {
    display: block;

    height: 100%;

    content: '';
    transition: all .5s ease;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &--disabled:after {
    visibility: hidden;

    opacity: 0;
  }
}

.cell--black-king:after,
.draggedPiece--black-king {
  background-image: url(/images/black_king.svg);
}

.cell--white-king:after,
.draggedPiece--white-king {
  background-image: url(/images/white_king.svg);
}

.cell--black-queen:after,
.draggedPiece--black-queen {
	background-image: url(/images/black_queen.svg);
}

.cell--white-queen:after,
.draggedPiece--white-queen {
	background-image: url(/images/white_queen.svg);
}

.cell--black-rook:after,
.draggedPiece--black-rook {
	background-image: url(/images/black_rook.svg);
}

.cell--white-rook:after,
.draggedPiece--white-rook {
	background-image: url(/images/white_rook.svg);
}

.cell--black-bishop:after,
.draggedPiece--black-bishop {
	background-image: url(/images/black_bishop.svg);
}

.cell--white-bishop:after,
.draggedPiece--white-bishop {
	background-image: url(/images/white_bishop.svg);
}

.cell--black-knight:after,
.draggedPiece--black-knight {
	background-image: url(/images/black_knight.svg);
}

.cell--white-knight:after,
.draggedPiece--white-knight {
	background-image: url(/images/white_knight.svg);
}

.cell--black-pawn:after,
.draggedPiece--black-pawn {
	background-image: url(/images/black_pawn.svg);
}

.cell--white-pawn:after,
.draggedPiece--white-pawn {
	background-image: url(/images/white_pawn.svg);
}
