@import '../../../css/variables.css';

:root {
  --pieces-board-height: calc(var(--cell-size) + 20px);
  --chess-board-padding: calc(var(--pieces-board-height) + 20px);
  --white-cell-color: #f0d9b5;
  --black-cell-color: #b58863;
}

.board {
  width: calc(var(--cell-size) * 8);
  height: calc(var(--cell-size) * 8);
  margin: auto;

  border-spacing: 0;

  @media (--viewport-phone-only) {
    width: auto;
    height: auto;
  }
}

.board__cell {
  width: var(--cell-size);
  height: var(--cell-size);

  @media (--viewport-phone-only) {
    width: 10vw;
    height: 10vw;
  }
}

.board tr:nth-child(even) td:nth-child(even),
.board tr:nth-child(odd) td:nth-child(odd) {
  background-color: var(--white-cell-color);
}
.board tr:nth-child(odd) td:nth-child(even),
.board tr:nth-child(even) td:nth-child(odd) {
  background-color: var(--black-cell-color);
}
